<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.Properties.Settings.NetworkBackgammonConnectionString"
            connectionString="Data Source=PML2\SQLEXPRESS;Initial Catalog=NetworkBackgammon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>